@model IEnumerable<Country>

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Country table</h4>
            
            <div class="table-responsive pt-3">
                <a class="btn btn-success" asp-action="Create"> Create </a>
                <hr />
                <table class="table table-bordered">
                    <thead>
                        <tr>
                           <th>#</th>
                           <th>Country Name</th>
                           <th>Country Description</th>
                             
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int srno = 1;
                        }
                        @foreach(var temp in Model)
                        {
                            <tr>
                                <td>@srno</td>
                                <td>@temp.CountryName</td>
                                <td>@temp.CountryDescription</td>
                                <td>
                                    <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@temp.CountryId">Edit</a>
                                    |
                                    <a class="btn btn-outline-primary" asp-action="Delete" asp-route-id="@temp.CountryId ">Delete</a>
                                </td>
                            </tr>
                            srno++;
                        }
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>