    @model IEnumerable<CartVM>


<div class="table-responsive">

    <table class="table">
       @*  <thead>
            <tr>
                <th> Sr.No</th>
                <th>Title</th>
                <th> Photo</th>
                <th>Qty</th>
                <th>Price</th>
                <th>Amount</th>
                
            </tr>

        </thead> *@
        <tbody>
            @{
                int srno = 1;
                decimal? amount = 0, totalamount = 0;
            }
            @foreach (var temp in Model)
            {

                <tr>
                    <td>@srno</td>
                    <td>@temp.CardTitle</td>
                    <td>
                        <img src="@temp.PhotoPath" width="100" height="100" />
                    </td>
                    <td>@temp.Qty</td>
                    <td>@temp.Price</td>
                    <td>
                        @{
                            amount = temp.Qty * temp.Price;
                            totalamount += amount;
                        }
                        @amount
                    </td>
                     
                </tr>
                srno++;

            }
        </tbody>
    </table>
</div>

